{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    Präsenzliste
{% endblock %}

{% block error %}
{% endblock %}

{% block main %}
    <div class="tl_listing_container">
    </div>
{% endblock %}