{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    Präsenzliste
{% endblock %}


{% block error %}
{% endblock %}



{% block main %}
    <div class="tl_listing_container">

        <div>
            <form method="post" action="">
                Titel: <input type="text" name="title"/><br/>
                Datum: <input type="date" name="date"/><br/>

                Gruppen:<br/>
                {% for memberGroup in memberGroups %}
                    <input type="checkbox" name="selectedMemberGroups[]" value="{{memberGroup.id}}"> {{memberGroup.name}}<br/>
                {% endfor %}

                <input type="submit">
            </form>
        </div>

    </div>
{% endblock %}