{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    Präsenzliste
{% endblock %}

{% block error %}
{% endblock %}

{% block main %}
    <div class="tl_listing_container">
        
    {% for article in articles %}
        {{article.id}} {{article.title}}<br/>
    {% endfor %}

    </div>
{% endblock %}