{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    Präsenzliste
{% endblock %}


{% block error %}
    {%- if exists == true %}
        User already exists!
    {% endif %}
{% endblock %}



{% block main %}
    <div class="tl_listing_container">

    {{ submit ? 'Form submitted!<br/><br/>' : '' }}

    <ul>
    {% for member in members %}
        <li>{{member.firstname}} {{member.lastname}} - {{member.email}}</li>
    {% endfor %}
    </ul>
    <br/>
    <hr/>
    Neues Mitglied:
    <div>
        <form method="post" action="">
            <ul>
                <li>Vorname: <input type="text" name="firstname"/></li>
                <li>Nachname: <input type="text" name="lastname"/></li>
                <li>E-Mail: <input type="email" name="email"/></li>
            </ul>
            <input type="submit">
        </form>
    </div>

    </div>
{% endblock %}